.card-img-top {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}


.trainer-container {
    min-height: 100vh;
}

/* .custom-font-size-trainer h1 {
    font-size: 5vw;
}

.custom-font-size-trainer p {
    font-size: 2vw;
}



.custom-font-size-trainer h3 {
    font-size: 2.8vw;
} */