.service-container {
    background-color: #BFC9C6;
}

/* .custom-font-size-home h1 {
    font-size: 5vw;
}

.custom-font-size-home p {
    font-size: 3vw;
}

.custom-font-size-home h3 {
    font-size: 2.8vw;
}

.custom-font-size-home h4 {
    font-size: 2vw;
} */